/*regular colors*/
$white: #fff;
$black: #000;
$milk-white: #F5F7F7;
$primary-color: #FA5D07;
$primary-color-dark: #c84904;
$secondary-color: #ededed;
$page-heading-color: #292929;
$light-grey-color: #515151;
$dark-grey-color: #d4d4d4;
$light-ash: #d4d4d4;
$ash: #999;
$grey: #ccc;
$err-color: #ff0000;
$cream-white: #f7f7f7;
$black-tranparent: rgba(0, 0, 0, 0.3);
$black-light-tranparent: rgba(0, 0, 0, 0.1);
$gold: #fec764; 


/*plugin*/
$light-sky-blue : #98C3D1;

/*header*/
$navbar-bg: #0D2C33;

/*footer*/
$footer-bg: #1c1c1c;
$footer-text-color: #6b6b6b;

/*Fonts*/
$body-font: 'Lato', sans-serif;

/*blog */
$fb-color: #4267b2;
$twiiter-color: #1b95e0;
$g-plus-color: #E16257;
$linkedin-color: #0369A0;
$linkedin-line-color: #0369A0;
$pinterest-color: #c8232c;
$tumblr-color: #34526f;
$twitter-hover: #41b7d8;
$instagram-hover: #5480A5;
$fb-hover: #3b5997;
$g-plus-hover: #d64937;
$linkedin-hover: #0073b2;
$vimeo-hover: #388fc5;
$youtube-hover: #A40F09;
$flickr-hover: #ff0084;
$pinterest-hover: #cb2027;
$skype-hover: #00aff0;
$rss-hover: #e0812a;
$default-hover: #37353A;
